/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~font-awesome/css/font-awesome.min.css';

.navBrand {
    margin-left: 12px;
}

.formGroup {
    margin: 0 auto;
}

.input-group-text {
    min-width: 110px;
    display: table-cell;
}

.input-group {
    display: flex;
}